<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"></link>
  <title>TODO</title>
</head>
<body>
  <h1>TodoList</h1>
  <table class="table table-success table-striped">
    <tr>
      <th>TODO</th><th>ID</th><th>タイトル</th><th>詳細</th><th>削除</th><th>編集</th>
    </tr>
    <tr th:each="todo: ${todoList}">
      <td>
        <form th:action="@{/todo/check/{id}/{done}(id = ${todo.id}, done = ${todo.done})}" method="get">
          <th:block th:if="${todo.done}">
            <input type="submit" value="✔">
          </th:block>
          <th:block th:if="${!todo.done}">
            <input type="submit" value="ー">
          </th:block>
        </form>
      </td>
      <td th:text="${todo.id}"></td>
      <td th:text="${todo.title}"></td>
      <td th:text="${todo.detail}"></td>
      <td>
        <form th:action="@{/todo/del/{id}(id = ${todo.id})}" method="get">
          <input type="submit" value="削除">
        </form>
      </td>
      <td>
        <form th:action="@{/todo/edit/{id}(id = ${todo.id})}" method="get">
          <input type="submit" value="編集">
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="6"><a th:href="@{/todo/add}">タスク作成</a></td>
    </tr>
  </table>
</body>
</html>